---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="max-w-2xl">
    <h1 class="text-4xl font-bold tracking-tight text-zinc-100 sm:text-5xl">
      Things I use to do my job or improve my life.
    </h1>
    <p class="mt-6 text-base text-zinc-400">
      A non extensive overview things I use for my day to day job. I usually
      don't write product reviews but if you plan on buying something I own I'm
      more than happy to provide you with my thoughts.
    </p>
  </div>
  <div class="mt-16 sm:mt-20">
    <div class="space-y-20">
      <section
        aria-labelledby=":S1:"
        class="md:border-l md:pl-6 md:border-zinc-700/40"
      >
        <div
          class="grid max-w-3xl grid-cols-1 items-baseline gap-y-8 md:grid-cols-4"
        >
          <h2 id=":S1:" class="text-sm font-semibold text-zinc-100">
            Home Office
          </h2>
          <div class="md:col-span-3">
            <ul role="list" class="space-y-16">
              <li class="group relative flex flex-col items-start">
                <h3
                  class="text-base font-semibold tracking-tight text-zinc-100"
                >
                  Philips 34 inch QHD ultra wide monitor
                </h3>
                <p class="relative z-10 mt-2 text-sm text-zinc-400">
                  Probably the thing I love most in my home office. Perfect
                  setup for split screening your editor and browser (or
                  terminals)
                </p>
              </li>
              <li class="group relative flex flex-col items-start">
                <h3
                  class="text-base font-semibold tracking-tight text-zinc-100"
                >
                  Keychron V8 65% Alice layout keyboard
                </h3>
                <p class="relative z-10 mt-2 text-sm text-zinc-400">
                  Customized with Baby Kangaroo switches and a PC plate.
                </p>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section
        aria-labelledby=":S1:"
        class="md:border-l md:pl-6 md:border-zinc-700/40"
      >
        <div
          class="grid max-w-3xl grid-cols-1 items-baseline gap-y-8 md:grid-cols-4"
        >
          <h2 id=":S1:" class="text-sm font-semibold text-zinc-100">
            Workflow
          </h2>
          <div class="md:col-span-3">
            <ul role="list" class="space-y-16">
              <li class="group relative flex flex-col items-start">
                <h3
                  class="text-base font-semibold tracking-tight text-zinc-100"
                >
                  conventionalcomments.org
                </h3>
                <p class="relative z-10 mt-2 text-sm text-zinc-400">
                  A great way to review other peoples work. Makes you really
                  think about what feedback you are giving and how important it
                  actually is.
                </p>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </div>
</BaseLayout>
