---

---

<header
  class="pointer-events-none relative z-50 flex flex-none flex-col pb-10 md:pb-20"
>
  <div class="top-0 z-10 h-16 pt-6">
    <div class="sm:px-8 w-full">
      <div class="mx-auto w-full max-w-7xl lg:px-8">
        <div class="relative px-4 sm:px-8 lg:px-12">
          <div class="mx-auto max-w-2xl lg:max-w-5xl">
            <div class="relative flex gap-4">
              <div class="flex flex-1">
                <div class="relative">
                  <a
                    aria-label="Home"
                    class="block h-16 w-16 origin-left pointer-events-auto"
                    href="/"
                    ><img
                      alt=""
                      fetchpriority="high"
                      width="512"
                      height="512"
                      decoding="async"
                      data-nimg="1"
                      class="bg-zinc-800 h-16 w-16 ring-2 ring-white shadow-[5px_-5px_0_5px_black]"
                      style="color:transparent"
                      sizes="4rem"
                      src="/img/avatar_small.png"
                    /></a
                  >
                </div>
              </div>
              <div class="flex flex-1 justify-end md:justify-center pt-3">
                <nav class="pointer-events-auto block">
                  <ul
                    class="flex px-3 text-sm font-medium ring-2 backdrop-blur bg-zinc-800/90 text-zinc-200 ring-white shadow-[5px_-5px_0_5px_black]"
                  >
                    <li>
                      <a
                        class="relative block px-3 py-2 transition hover:text-teal-400"
                        href="/about/">About</a
                      >
                    </li>
                    <li>
                      <a
                        class="relative block px-3 py-2 transition hover:text-teal-400"
                        href="/uses/">Uses</a
                      >
                    </li>
                  </ul>
                </nav>
              </div>
              <div class="flex flex-1 hidden md:block"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
